# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Logs
*.log

# Qdrant runtime data (Docker bind mount, created on first start)
mbp/qdrant_storage/

# Models
mbp/snap2know/models/
mbp/snap2know/images/